<div class="breadcrumb">
  &nbsp;&nbsp;<a href="/" class="headerNavigation">Top</a>
   &raquo; <a href="">About us</a>
</div>
<div id='content'>
  <%== TunedSanitize::for_(@about_us) if @about_us %>
</div>