<!DOCTYPE html>
<html dir="ltr" lang="en">
<body>
  <div class="wrapper">
    <div class="row_3">
      <div class="container_1064">
        <div class="grid_">
          <div class="for_smart_browsers">
            <style type="text/css">
              .nivoSlider_wrapper {
                width: 1064px; height: 490px; /* Set the size */
              }
              #screenshot img { width:SUPERFISH_IMAGE_WIDTHpx;height:SUPERFISH_IMAGE_HEIGHTpx;}
              #screenshotCategory img { width:84px;height:84px;}
            </style>
            <style type="text/css">
              .nivo-caption           {display:none !important;}
            </style>
            <script type="text/javascript">
              $(window).load(function() {
                $('#slider').nivoSlider ();
              });
            </script>
            <div class="nivoSlider_wrapper">
              <div id="slider" class="nivoSlider">
                <a href="#">
                  <img src="http://cs14114.userapi.com/c7005/v7005067/989/2QecGQx5A1Y.jpg" width="1064" height="490" />
                </a>
                <a href="#">
                  <img src="http://cs14114.userapi.com/c7005/v7005964/a24/mwG9KCrUIcw.jpg" width="1064" height="490" />
                </a>
                <a href="#">
                  <img src="http://cs14114.userapi.com/c7001/v7001581/3b71/ypNT3bxgx5s.jpg" width="1064" height="490" />
                </a>
              </div>
            </div>
            <ul class="banner_set">
              <li class="item1">
                <a href="#" target="_self">
                  <img src="http://cs309825.userapi.com/v309825067/513c/ec1FztZsAcM.jpg" width="328" height="237" />
                </a>
              </li>
              <li class="item2">
                <a href="#" target="_self">
                  <img src="http://cs309825.userapi.com/v309825067/516e/d1XXguoFAPc.jpg" width="328" height="237" />
                </a>
              </li>
              <li class="item3">
                <a href="#" target="_self">
                  <img src="http://cs309825.userapi.com/v309825067/5159/jm5J6maxfYI.jpg" width="328" height="237" />
                </a>
              </li>
              <li class="item4">
                <a href="#" target="_self">
                  <img src="http://cs309825.userapi.com/v309825067/5160/6vHtfyExHYQ.jpg" width="328" height="237" />
                </a>
              </li>
              <li class="item5">
                <a href="#" target="_self">
                  <img src="http://cs309825.userapi.com/v309825067/512f/Du-q_0E1Gas.jpg" width="328" height="237" />
                </a>
              </li>
              <li class="item6">
                <a href="#" target="_self">
                  <img src="http://cs309825.userapi.com/v309825067/5136/QKkzGfzAdQE.jpg" width="328" height="237" />
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</body>
</html>
