/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


.current_0 a img {
  margin-top: -7px;
}
.sf-menu > li.last a {
  padding-left: 390px;
}

#latest_products ul li {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #DADADA;
  float: left;
  height: 350px;
  margin: 20px 20px 0 0;
  padding: 0 30px;
  width: 238px;
}
#latest_products ul {
  padding: 4px 0 0;
}
#latest_products ul li.feat-3 {
  margin: 20px 0 0;
}
#latest_products ul li a.product_image {
  display: block;
  margin: 23px 0 0;
}
#latest_products ul li h5 {
  height: 31px;
  line-height: 16px;
}
#latest_products ul li h5 a {
  color: #929292;
  font: 13px "Droid Sans";
  text-decoration: none;
}
#latest_products ul li h5 a:hover {
  color: #000000;
}

#latest_products ul li span.price {
  display: block;
  float: left;
  font: 23px "Cambo";
  padding: 1px 0 0;
}
#latest_products ul li div a {
  background: none repeat scroll 0 0 #000000;
  border-radius: 5px 5px 5px 5px;
  color: #FFFFFF;
  display: block;
  float: right;
  font: 18px/25px "Cambo";
  height: 27px;
  padding: 0 9px;
  text-decoration: none;
  text-transform: lowercase;
  transition: background 0.5s ease 0s;
}
#latest_products ul li div a:hover {
  background: none repeat scroll 0 0 #929292;
  transition: background 0.3s ease 0s;
}
div#latest_products {
  margin-left: 55px;
}